* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

button, button::after {
  width: 380px;
  height: 86px;
  font-size: 36px;
  font-family: 'Bebas Neue', cursive;
  background: linear-gradient(45deg, transparent 5%, #000 5%);
  border: 0;
  color: #FFF;
  letter-spacing: 3px;
  line-height: 88px;
  box-shadow: 6px 0px 0px #00E6F6;
  position: relative;
  outline: transparent;
}

button::after {
  --slice-0: inset(50% 50% 50% 50%); 
  --slice-1: inset(80% -6% 0 0); 
  --slice-2: inset(50% -6% 30% 0); 
  --slice-3: inset(10% -6% 85% 0); 
  --slice-4: inset(40% -6% 43% 0); 
  --slice-5: inset(80% -6% 5% 0); 

  content: 'CLIQUE AQUI';
  display: block;
  position: absolute;
  inset: 0;
  background: linear-gradient(45deg, transparent 3%, #FFF 3%, #FFF 5%, #000 5%);
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

button:hover::after {
  animation: 1s glitch steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px); 
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate( 5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate( 5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate( 20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }

}















